.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userInput {
  display: flex;
  justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  padding: 0.5vmax;
  
  background-color: white;
}

#textInput {
  padding: 0.4vmax;
  background-color: rgba(173, 173, 173, 0.429);
  color: black;
  border-radius: 15px;
  border: none;
  margin-right: 0.3vmax;
  width: 80%;
  padding: 10px;
}

input:focus,
input:focus {
  outline: none;
}

#buttonInput {
  border-radius: 20px;
  padding: 0.3vmax;
  background-color: rgb(115, 115, 200);
}

.chatcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37%;
  background-color: rgba(175, 165, 165, 0.7);
  border-radius: 20px;
  padding-bottom: 0.2vmax;
}

.userText {
  background-color: rgb(98, 98, 202);
  color: white;
  padding: 0.5vmax;
  width: 40%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: 0.4vmax;
}

.botText {
  background-color: rgb(98, 98, 202);
  color: white;
  padding: 0.5vmax;
  width: 40%;
  border-radius: 30px;
  margin-right: auto;
  margin-left: 0.4vmax;
}
